@using Proyecto_AirBnb.Models
@{
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MiPerfil</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="https://a0.muscache.com/airbnb/static/packages/common_o2.1-55963a131eb5480a933a106eb9ba3646.css" media="all" rel="stylesheet" type="text/css" />

    <link href="https://a2.muscache.com/airbnb/static/p1/main-6d39f8939d26c85e68e231f4d6882bd3.css" media="screen" rel="stylesheet" type="text/css" />
    <meta id="csrf-param-meta-tag" name="csrf-param" content="authenticity_token" />
    <meta id="csrf-token-meta-tag" name="csrf-token" content="" />
</head>
<body>
   
    @* seccion central. Navegacion y Contenido*@
    <div class="page-container-responsive space-top-4 space-4">
        <div class="row">
            <div class="col-md-3 space-sm-4">
                <div class="sidenav">
                    <ul class="sidenav-list">
                        <li>
                            <a href="#" aria-selected="false" class="sidenav-item">Editar perfil</a>
                        </li>
                        <li>
                            <a href="#" aria-selected="false" class="sidenav-item">Mis anuncios</a>
                        </li>
                        <li>
                            <a href="#" aria-selected="false" class="sidenav-item">Subir anuncios</a>
                        </li>
                        <li>
                            <a href="#" aria-selected="false" class="sidenav-item">Mensajes (@Session["mensajes"])</a>
                        </li>
                        <li>
                            <a href="#" aria-selected="false" class="sidenav-item">Darse de baja</a>
                        </li>
                    </ul>
                </div>


                <a href="#" class="btn btn-block row-space-top-4">Inicio</a>
            </div>
            <div class="col-md-9">


                <div id="dashboard-content">
                    
                <form>
                    
                </form>

                @*deberé tener varios form quiza....y ocultar algunos...no se
                    
                    Crear modelos concretos para cada opcion....
                    *@



                </div>@*@fin dashboard content*@
            </div>
        </div>
    </div>

</body>
</html>
