@using Proyecto_AirBnb.Models
@{
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MiPerfil</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="https://a0.muscache.com/airbnb/static/packages/common_o2.1-55963a131eb5480a933a106eb9ba3646.css" media="all" rel="stylesheet" type="text/css" />

    <link href="https://a2.muscache.com/airbnb/static/p1/main-6d39f8939d26c85e68e231f4d6882bd3.css" media="screen" rel="stylesheet" type="text/css" />
    <meta id="csrf-param-meta-tag" name="csrf-param" content="authenticity_token" />
    <meta id="csrf-token-meta-tag" name="csrf-token" content="" />
</head>
<body>

    @{Usuario user = (Usuario)Session["usuario"]; }
    @* seccion central. Navegacion y Contenido*@
    <div class="page-container-responsive space-top-4 space-4">
        <div class="row">
            <div class="col-md-3 space-sm-4">
                <div class="sidenav">
                    <ul class="sidenav-list">
                        <li>
                            <a href="#" id="editarPerfil" aria-selected="false" class="sidenav-item link">Editar perfil</a>
                        </li>
                        <li>
                            <a href="#" id="misAnuncios" aria-selected="false" class="sidenav-item link">Mis anuncios</a>
                        </li>
                        @if ((bool)user.Anfitrion)
                        {

                            <li>
                                <a href="/Anuncios/NuevoAnuncio" aria-selected="false" class="sidenav-item link">Subir anuncios</a>
                            </li>
                        }
                        <li>
                            <a href="#" id="mensajes" aria-selected="false" class="sidenav-item link">Mensajes (@Session["mensajes"])</a>
                        </li>
                        <li>
                            <a href="#" id="reservas" aria-selected="false" class="sidenav-item link">Mis Reservas</a>
                        </li>
                        <li>
                            <a href="#" id="password" aria-selected="false" class="sidenav-item link">Cambiar Contraseña</a>
                        </li>
                        <li>
                            <a href="#" aria-selected="false" class="sidenav-item link">Darse de baja</a>
                        </li>
                    </ul>
                </div>


                <a href="#" class="btn btn-block row-space-top-4">Inicio</a>
            </div>
            <div class="col-md-offset-4">


                <h2>Bienvenido @user.Nombre </h2>
                <div id="dashboard-content"></div>
            </div>
        </div>
    </div>

@section scripts{

    <script>
        /*
        Peticion ajax a action que lee el parámetro y devuelve:
        - Mensajes
        - Anuncios subidos(por el usuario)
        - Datos de perfil...
        - Reservas
        - Pantalla Cambiar Pass...
        */

        //Por defecto cargo el PartialView EditarPerfil
        // pero si han pulsado el boton de Mensajes en Inicio
        //Leo ese parámetro y mando petAjax para cargar los mensajes
        try {

            var opcion = window.location.href.split('?')[1].split('=')[1];

        } catch (e) {

        }
        if (typeof (opcion) == "undefined") {
            console.log("Es undefined");
            var json = { "index": "editarPerfil" };
            hacerPeticion(json);

        }
        else {
            var elJson = { "index": opcion };
            hacerPeticion(elJson);
        }
        //--> como lo cargo todo co peticion ajax...no tengo forma de decirle 
        // manualmente que se vaya a ESE sito de mensajes, tengo que apañarmelas y hacerlo asi

       
        function hacerPeticion(json) {
            $.ajax({

                url: "@Url.Action("Listar", "Perfil")",
                type: 'POST',
                contentType: 'application/json',
                dataType: 'html',
                data: JSON.stringify(json),

            }).done(function (data) {

                $("#dashboard-content").html(data);
            });
        }

        // dinamismooooooo
        $(".link").click(function () { //--> como vamos siempre al mismo lado....solo cambia id

            var id = $(this).attr("id");
            var json = { "index": id };

            hacerPeticion(json);
        });
               


    </script>
</body>
</html>
}