
@{
    ViewBag.Title = "CompletaRegistro";
    Layout = "~/Views/Shared/_LayoutRegistro.cshtml";
}

<h2 class="col-md-offset-2">Completa tu Perfil</h2>
@using (Html.BeginForm("Index", "Inicio", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="form-group">

        <label class="control-label col-md-2">Sácate una foto</label>
        <div class="col-md-3">

            <div id="Camera" name="cajaCam">
                <button class="btn btn-large btn-primary form-control col-md-10" onclick="webcam.capture();">Dispara!</button>
            </div>
        </div>

    </div>
    <div class="col-md-offset-2 col-md-10 form-horizontal">
        <input type="button" id="omitir" value="Omitir" class="btn btn-default" />
    </div>
    <br /><br /><br />
}
@using (Html.BeginForm("FileUpload", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group col-md-offset-2 col-md-10 form-horizontal">
        <h2>O sube una foto</h2>
        <label>Sube una Imagen:</label>
        <input class="form-control" type="file" name="file" id="file" style="width: 100%;" />
        <input class="btn btn-primary" type="submit" value="Subir" />
    </div>
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.webcam.js")"></script>
    <script>
        $("#Camera").webcam({
            width: 320,
            height: 240,
            mode: "save",
            swffile: "@Url.Content("~/Scripts/jscam.swf")",
            onTick: function () { },
            onSave: function () { },
            onCapture: function () {
                webcam.save("@Url.Content("~/Account/Webcam")/");
            },
            debug: function () { },
            onLoad: function () { }
        });

        //cuando no quiere foto
        $('#omitir').click(function () {
            window.location.href = '@Url.Action("Index", "Inicio")';
        });
    </script>
}